<div>

  <p>AGREGA USUARIO</p>
  <div>
    <div>
      <form>
        <div>
          <label>Nombre de Usuario</label>
          <input [(ngModel)]="usuario.nombre" type="text" name="nombre">
        </div>

        <div>
          <label>Imagen</label>
          <input [(ngModel)]="usuario.imagen" type="text" name="nombre">
        </div>

        <button (click)="agregar()">INSERTAR</button>
      </form>
    </div>

    <div>
      <form>
        <div>
          <img src="{{usuario.imagen}}" width="100" height="100" alt="">
        </div>

        <div>
          <label>{{usuario.nombre}}</label>
        </div>

      </form>
    </div>

  </div>

</div>
